body {background-color: rgb(42, 165, 128);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: left;
}

p {
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

section {
    color: white;
    text-align: center;
}

ul {
    color: white;
    display: inline-block;
    text-align: left;
    list-style-position: inside; 
    padding: 0;
}

li {
    text-align: center;
    margin: 10px 0;
}

h2 {
    color: white;
    text-align: left;
 }

 p{
    color: white;
    text-align: center;
 }

 button {
    background-color: rgb(224, 218, 218);
    color: rgb(43, 95, 155);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
 }

 footer {
    text-align: center;
    color: black;
    margin-top: 20px
 }