body {background-color: burleywood(222, 160, 135);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: left;
}

h2 {
    color: white;
    text-align: center;
}

ul {
    color: white;
    text-align: center; 
}

h2 {
    color: white;
    text-align: left;
 }

 button {
    background-color: whitesmoke;
    color: beige;
    padding: 10px 20px
    border: none;
    botder-radius: 8px;
 }

 footer {
    text-align: center;
    color: black;
    margin-top: 20px
 }